# Importing all the required libraries

In [126]:

import numpy as np
import requests
import io
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

**Reading the Balance-Scale Dataset**

In [127]:
df = pd.read_csv(r"/content/balance-scale.data")
df.head(10)

   B  1  1.1  1.2  1.3
0  R  1    1    1    2
1  R  1    1    1    3
2  R  1    1    1    4
3  R  1    1    1    5
4  R  1    1    2    1
5  R  1    1    2    2
6  R  1    1    2    3
7  R  1    1    2    4
8  R  1    1    2    5
9  R  1    1    3    1

**Checking if any null value exists and if it does then replacing it**

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624 entries, 0 to 623
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   B       624 non-null    object
 1   1       624 non-null    int64
 2   1.1     624 non-null    int64
 3   1.2     624 non-null    int64
 4   1.3     624 non-null    int64
dtypes: int64(4), object(1)
memory usage: 24.5+ KB

**Since no Null value exists, replacing isn't required.. moving further**

**Lets Replace the name of the columns for better understanding of the data.**

In [129]:
df = df.rename(columns = {'B': 'Class', '1': 'LeftWeight','1.1':'LeftDistance','1.2':'RightWeight','1.3':'RightDistance'}, inplace = False)
df

    Class  LeftWeight  LeftDistance  RightWeight  RightDistance
0       R           1             1            1              2
1       R           1             1            1              3
2       R           1             1            1              4
3       R           1             1            1              5
4       R           1             1            2              1
..    ...         ...           ...          ...            ...
619     L           5             5            5              1
620     L           5             5            5              2
621     L           5             5            5              3
622     L           5             5            5              4
623     B           5             5            5              5

[624 rows x 5 columns]

Seperating features as X and target value as y : 
- 'Class' in Y
- 'LeftWeight', 'RightWeight', 'LeftDistance', 'RightDistance' in X

Spliting the X and Y in four DataFrame :
train_X, test_X, train_Y and test_Y using train_test_split

and keeping the test_size as 150 to check value for 150 values for better precision of the data.

In [130]:
X=df[['LeftWeight','LeftDistance','RightWeight', 'RightDistance']].copy()
Y=df[['Class']]
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, test_size = 150)

Classification and prediction using **Desicion Tree** Classifier :

In [131]:
clf = DecisionTreeClassifier()
clf.fit(train_X, train_Y)
pred = clf.predict(test_X)
print('Accuracy  = ',clf.score(test_X, test_Y)*100)

Accuracy  =  74.66666666666667

That ends Our Desicion tree classifying method.

Lets see the **Confusion matrix** now

Creating an array first for the formation of matrix

In [132]:
x=np.array(X)
y=np.array(Y)

Running the matrix data

In [133]:
c_matrix= confusion_matrix(test_Y,pred,labels=['L','R','B'])
c_matrix

array([[50,  2,  6],
       [ 4, 62, 12],
       [ 6,  8,  0]])

Running the appropriate test and printing the report's

In [134]:
matrix=classification_report(test_Y,pred,labels=['L','R','B'])
print('classification_report: \n',matrix)

classification_report:
               precision    recall  f1-score   support

           L       0.83      0.86      0.85        58
           R       0.86      0.79      0.83        78
           B       0.00      0.00      0.00        14

    accuracy                           0.75       150
   macro avg       0.56      0.55      0.56       150
weighted avg       0.77      0.75      0.76       150